<!DOCTYPE html>
{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'images/user.svg' %}" id="icon" alt="User Icon" />
    </div>

    {% if form.errors %}
       <p class="label-danger">
           Nome de usuário ou senha incorreto!
           Porfavor teste de novo.
       </p>
    {% endif %}
    <!-- Login Form -->
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.username }}
      {{ form.password }}

      <input type="submit" class="fadeIn fourth" value="login">
      <input type="hidden" name="next" value="{{ next }}">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueceu sua Senha ?</a>
    </div>

  </div>
</div>
<script type="text/javascript" >
    $(document).ready(function(){
        $("#id_username").attr('placeholder', 'Nome de usuário');
        $("#id_password").attr('placeholder', 'Senha');
    });
</script>
