{% extends "login_RB_app/home.html" %}
{% block body_block%}
    <h1 class="display-4">Mikrotiks</h1>
    {% if mikrotiks %}
    <table class="table">
      <thead>
        <th>Categoria</th>
        <th>Nome</th>
        <th>Login</th>
        <th>IP</th>
      </thead>
      {% for mikrotik in mikrotiks %}
      <tr>
        <td>{{ mikrotik.categoria.name }}</td>
        <td> <a href="{% url 'app:estatus' mikrotik.id %}">{{ mikrotik.name |title }}</a> </td>
        <td>{{ mikrotik.login  }}</td>
        <td>{{ mikrotik.ip }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>Nenhum mikrotik encontrado</p>
    {% endif %}
    <hr class="my-4">
    <p>Lista de mikrotiks cadastrado no sistema.</p>
    <p class="lead">
      <a href="{% url 'app:cadastro' %}" type="buttom" class="btn btn-primary btn-lg" >Cadastrar</a>
    </p>

{% endblock %}
