{% extends "template.html" %}
{% load crispy_forms_tags %}
{% block body_block%}

    <h1 class="display-4">
      {% if not form.instace.pk %}
      Cadastro de Mikrotik
      {% else %}
      Edição do Mikrotik
      {% endif %}
    </h1>
    <form method="POST">
      <!-- {% if form.subject.errors %}
      <ol role="alertdialog">
          {% for error in form.subject.errors %}
          <li role="alert"><strong>{{ error|escape }}</strong></li>
          {% endfor %}
      </ol> -->
      {% endif %}
      {{ form|crispy }}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" name="salvar" value="Salvar">
    </form>
{% endblock %}
