{% extends "template.html" %}
{% load crispy_forms_tags %}
{% block body_block%}
{% load static %}

    <h1 class="display-4">
    {{ titulo }} usuário(s) no(s) Mikrotik(s)
    </h1>
    <form method="POST">
      {{ form|crispy }}
      {% csrf_token %}    
      <input type="submit" class="btn btn-primary" value="Executar comando" onclick="$('#loader').show();">
    </form>

    <script type="text/javascript">
      var raioButon =  $('input[type=radio][name=escopo]');
       $( "#div_id_categoria" ).hide();
       $( "#div_id_ip" ).hide();

      if($('input[type=radio][name=escopo]:checked').val() == 'ip'){
        $( "#div_id_ip" ).show();
        $( "#div_id_categoria" ).hide();
      }
      if($('input[type=radio][name=escopo]:checked').val() == 'categoria'){
        $( "#div_id_categoria" ).show();
        $( "#div_id_ip" ).hide();
      }

      raioButon.change(function() {
        console.log(this.value)
          if (this.value == 'ip') {
              $( "#div_id_ip" ).show();
              $( "#div_id_categoria" ).hide();
          }
          else if (this.value == 'categoria') {
              $( "#div_id_categoria" ).show();
              $( "#div_id_ip" ).hide();
          }else{
            $( "#div_id_categoria" ).hide();
            $( "#div_id_ip" ).hide();
          }
      });
    </script>
{% endblock %}
